*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: solid red;
    width: 1440px;
    height: 900px;
    
}
/* ----------img-----------  */

.subcontainer{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid greenyellow;
    width: auto;
    height: 200px;


    
}
.subcontainer div{
    /* width: auto;
    height:auto; */
    border: solid;
    border-radius: 50px;
    background: rgb(45, 227, 4);
  
}
/* ----------img----  */
h2:nth-child(1){
    font-size: 50px;
    grid-column:7/9;
    grid-row: 1;
    background: red;
}

.img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
.img:nth-child(2){
    border: solid rgb(175, 39, 39);
    grid-column: 1;
    grid-row: 2;
    margin-top: 30px;
}
.img:nth-child(3){
    border: solid rgb(140, 181, 9);
    grid-column: 1;
    grid-row: 3;
    margin-top: 20px;
}
.img:nth-child(4){
    border: solid rgb(96, 173, 209);
    grid-column: 2;
    grid-row: 2;

}
.img:nth-child(5){
    border: solid rgb(188, 152, 152);
    grid-column: 2;
    grid-row: 3;
}
.img:nth-child(6){
    border: solid rgb(33, 57, 153);
    grid-column: 3;
    grid-row: 2;
    margin-top: 30px;
}
.img:nth-child(7){
    border: solid rgb(73, 5, 5);
    grid-column: 3;
    grid-row: 3;
    margin-top: 20px;

}
.img_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ces{
    width: 100px;
    height: 100px;
    background: rgb(9, 213, 223);
    margin: 20%;
    /* outline-color: chartreuse; */
    /* border: solid ; */
    outline-style: solid;
    
}